@font-face {
    font-family: "Ubuntu";
    src: url(../assets/Ubuntu-Regular.ttf);
    font-display: swap;
}

*:not(dialog) {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.header {
    padding: 1rem 0.5rem;
    display: flex;
    background-color: blue;
    color: white;
    align-items: center;
}

.header__name {
    font-weight: 900;
}

.header__add-btn {
    margin: 0 0 0 auto;
    padding: .5rem;
    border:none;
    border-radius: .25rem;
    background-color: green;
    color: white;
    font-weight: bolder;
}

.todos {
    display: flex;
    flex-direction: column;
}

.todo {
    background-color: rgb(194, 190, 237);
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: .25rem;
    margin: 1rem 0.5rem;
    padding: .5rem;
    gap: 1rem;
}

.todo__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: .5rem;
}

.todo__name {}

.todo__due-date {
    justify-self: end;
}

.todo__priority-pill {
    display: flex;
    background-color: white;
    padding: .25rem;
    width: 5rem;
    justify-content: center;
    border-radius: 1rem;
    grid-column: 2;
    justify-self: end;
    margin-top: .5rem;
}

.todo__priority-pill--low {
    background-color: rgb(111, 111, 221);
}

.todo__priority-pill--med {
    background-color: rgb(247, 176, 52);
}

.todo__priority-pill--high {
    background-color: rgb(250, 115, 115);
}

.todo__priority {}

.todo__btns {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-top: .5rem;
}

.todos__btns__edit-btn {
    padding: .5rem;
    background-color: yellow;
    border: none;
    border-radius: .25rem;
    font-weight: bolder;
}

.todos__btns__delete-btn {
    padding: .5rem;
    margin: .25rem 0;
    border: none;
    border-radius: .25rem;
    background-color: red;
    font-weight: bolder;
}

.add-modal {
    border: none;
    padding: 0;
}

.add-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.add-modal__header {
    background-color: blue;
    padding: 1rem 0;
}

.add-modal__header__title {
    color: white;
    font-weight: bold;
    text-align: center;
}