@font-face {
    font-family: "Ubuntu";
    src: url(../assets/Ubuntu-Regular.ttf);
    font-display: swap;
}

*:not(dialog) {
    padding: 0;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    box-sizing: border-box;
}

.header {
    padding: 1rem 0.5rem;
    display: flex;
    background-color: blue;
    color: white;
    align-items: center;
}

.header__name {
    font-weight: 900;
}

.header__add-btn {
    margin: 0 0 0 auto;
    padding: 0.5rem;
    border: none;
    border-radius: 0.25rem;
    background-color: green;
    color: white;
    font-weight: bolder;
}

.filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
     background-color: rgb(160, 160, 227);
    /* color: var(--txt-clr-light); */
    /* gap: 1rem; */
}

.filter-container__filter {
    padding: 0.5rem;
    border: 0.25rem solid var(--bg-clr-dark);
    min-width: 50dvw;
    max-width: 75%;
}

.todos {
    display: flex;
    flex-direction: column;
}

.todo {
    background-color: rgb(194, 190, 237);
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0.25rem;
    margin: 1rem 0.5rem;
    padding: 0.5rem;
    gap: 1rem;
}

.todo__info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0.5rem;
}

.todo__name {
}

.todo__due-date {
    justify-self: end;
}

.todo__priority-pill {
    display: flex;
    background-color: white;
    padding: 0.25rem;
    width: 5rem;
    justify-content: center;
    border-radius: 1rem;
    grid-column: 2;
    justify-self: end;
    margin-top: 0.5rem;
}

.todo__priority-pill--low {
    background-color: rgb(111, 111, 221);
}

.todo__priority-pill--med {
    background-color: rgb(247, 176, 52);
}

.todo__priority-pill--high {
    background-color: rgb(250, 115, 115);
}

.todo__priority {
}

.todo__btns {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 0.5rem;
}

.todos__btns__edit-btn {
    padding: 0.5rem;
    background-color: yellow;
    border: none;
    border-radius: 0.25rem;
    font-weight: bolder;
}

.todos__btns__delete-btn {
    padding: 0.5rem;
    margin: 0.25rem 0;
    border: none;
    border-radius: 0.25rem;
    background-color: red;
    font-weight: bolder;
}

.add-modal, .edit-modal {
    border: none;
    padding: 0;
    border-radius: 0.25rem;
}

.add-modal::backdrop, .edit-modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.add-modal__header__title, .edit-modal__header__title {
    background-color: blue;
    padding: 1rem 0;
    color: white;
    font-weight: bold;
    text-align: center;
}

.add-modal__form, .edit-modal__form {
    display: flex;
    flex-direction: column;
    margin: 0.5rem 0.25rem;
}

.add-modal__form__name, .edit-modal__form__name {
}

.add-modal__form__name-input, .edit-modal__form__name-input {
    margin-bottom: 0.5rem;
    width: auto;
}

.add-modal__form__due-date, .edit-modal__form__due-date {
}

.add-modal__form__due-date-input, .edit-modal__form__due-date-input  {
    margin-bottom: 0.5rem;
}

.add-modal__form__priority-input, .edit-modal__form__priority-input {
    margin-bottom: 0.5rem;
}

.add-modal__btn-wrapper, .edit-modal__btn-wrapper {
    background-color: white;
    color: white;
    padding: 0.25rem;
    display: flex;
    justify-content: space-evenly;
}

.add-modal__cancel-btn, .edit-modal__cancel-btn {
    background-color: red;
    color: black;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.add-modal__create-btn, .edit-modal__save-btn {
    background-color: green;
    color: white;
    border: none;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.hidden {
    display: none;
}
